<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <modules>
    <!--"namespace.classname, assemblyname"-->
    <!--<module assemblyFile="ChocolateyNuGet.Modules.DetailsPackage.dll"
            moduleType="ChocolateyNuGet.Modules.DetailsPackage.DetailsPackageModule, ChocolateyNuGet.Modules.DetailsPackage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="DetailsPackageModule"
            startupLoaded="True" />-->

    <!--ChocolateyNuGet.Modules.PackageExplorer-->
    <module assemblyFile="TopoEditor.Output.dll"
             moduleType="TopoEditor.Output.OutputModule, TopoEditor.Output, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             moduleName="OutputModule"
             startupLoaded="True" />

    <!--<module assemblyFile="ChocolateyNuGet.Modules.InstalledPackage.dll"
             moduleType="ChocolateyNuGet.Modules.InstalledPackage.InstalledPackageModule, ChocolateyNuGet.Modules.InstalledPackage, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             moduleName="InstalledPackageModule"
             startupLoaded="True" />

    <module assemblyFile="ChocolateyNuGet.Modules.Startcenter.dll"
               moduleType="ChocolateyNuGet.Modules.Startcenter.StartcenterModule, ChocolateyNuGet.Modules.Startcenter, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
               moduleName="StartcenterModule"
               startupLoaded="True" />-->
  </modules>
</configuration>